@charset "utf-8";
/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat','Noto Sans KR','NEXON Lv1 Gothic','Nanum Gothic', '돋움', Dotum, Helvetica, Verdana, Arial, sans-serif;
}
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat','Noto Sans KR','NEXON Lv1 Gothic','Nanum Gothic', '돋움', Dotum, Helvetica, Verdana, Arial, sans-serif;  
  font-size: 62.5%;
  font-weight: 400;
  color: #111111;
  scroll-behavior: smooth;
  overflow-x: hidden;
  letter-spacing: -0.025em;
}
ul, ol, li{
  list-style: none
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0
}

fieldset, iframe {
  border: 0;
}
i, em, address {
  font-style: normal
}
b,strong,h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
button {
  cursor: pointer
}
button, input{
  background-color: transparent;
  border: none;
}
a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: #111111;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
h2, h3, h4{
  font-family: 'NEXON Lv1 Gothic';
}